<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE sqlMap PUBLIC "-//ibatis.apache.org//DTD SQL Map 2.0//EN" "http://ibatis.apache.org/dtd/sql-map-2.dtd" >
<sqlMap namespace="teachersubject">
	<typeAlias alias="TeacherSubject" type="com.bobo.domain.TeacherSubject"/>
	
	 <select id="select"  resultClass="TeacherSubject">
		SELECT * FROM tbl_teachersubject A 
		<dynamic prepend = "where">
			<isNotEmpty property="id" prepend="and">
  				A.ID = #id:INTEGER#
  			</isNotEmpty>
			<isNotEmpty property="name" prepend="and">
  				A.NAME like %$name:VARCHAR$%
  			</isNotEmpty>
  			<isNotEmpty property="courseId" prepend="and">
  				A.COURSEID = #courseId:INTEGER#
  			</isNotEmpty>
  			<isNotEmpty property="courseName" prepend="and">
  				A.COURSENAME = #courseName:VARCHAR#
  			</isNotEmpty>
  			<isNotEmpty property="level" prepend="and">
  				A.LEVEL = #level:INTEGER#
  			</isNotEmpty>
  			<isNotEmpty property="subjectId" prepend="and">
  				A.SUBJECTID = #subjectId:INTEGER#
  			</isNotEmpty>
		</dynamic>
		ORDER BY A.UPDATETIME DESC <!-- limit #skipResult# ,#maxResult# -->
	</select>
	
</sqlMap>